<div class="main-content">
  <app-navbar></app-navbar>
  <main class="p-2">
    <div class="container mt-5">
      <h1 class="text-center mb-3">
        Bienvenido: <strong>Aldo Citalan Ortiz</strong>
      </h1>
      <h3 class="mb-3">Libros por categoria</h3>
      <div class="btn-group mb-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary active">Terror</button>
        <button type="button" class="btn btn-primary">Misterio</button>
        <button type="button" class="btn btn-primary">Cultura</button>
        <button type="button" class="btn btn-primary">Literatura</button>
      </div>
      <section
        class="row g-4"
        data-masonry='{"percentPosition": true }'
        style="position: relative"
      >
        <div class="col-4">
          <div class="card" style="width: 100%">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/6159x2dpH8L.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 100%">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/81VbmFo8CDL.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 100%">
            <img
              src="https://www.elsotano.com/imagenes_grandes/9788418/978841800816.JPG"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" routerLink="/ver-detalles/1"
                >Ver detalles</a
              >
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 100%">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/7162Q1HmWqL.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 100%">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/51TSDpk+VmL._SX333_BO1,204,203,200_.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card" style="width: 100%">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/71YypjLDqtL.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
