<div class="main-content">
  <app-navbar></app-navbar>
  <main class="p-2">
    <div class="container mt-4">
      <h1>Prestamos</h1>
      <hr class="mb-4" />

      <section class="mb-5">
        <article class="mb-3">
          <h3 class="">Pendientes:</h3>
          <div class="d-flex search">
            <input
              type="search"
              class="form-control me-2"
              placeholder="Numero de control del estudiante...."
            />
            <button class="btn btn-outline-primary" type="button">
              Buscar
            </button>
          </div>
        </article>
        <table class="table table-striped">
          <thead class="bg-success text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Numero de control del estudiante</th>
              <th scope="col">Libro prestado</th>
              <th scope="col">Fecha del prestamo</th>
              <th scope="col">Fecha de entrega</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>19510790</td>
              <td>El principito</td>
              <td>09/09/2022</td>
              <td>12/09/2022</td>
              <td>
                <button class="btn btn-primary">Libro devuelto</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>19510790</td>
              <td>El principito</td>
              <td>09/09/2022</td>
              <td>12/09/2022</td>
              <td>
                <button class="btn btn-primary">Libro devuelto</button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>19510790</td>
              <td>El principito</td>
              <td>09/09/2022</td>
              <td>12/09/2022</td>
              <td>
                <button class="btn btn-primary">Libro devuelto</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <article class="mb-3">
          <h3 class="">Atrasados:</h3>
          <div class="d-flex search">
            <input
              type="search"
              class="form-control me-2"
              placeholder="Numero de control del estudiante...."
            />
            <button class="btn btn-outline-primary" type="button">
              Buscar
            </button>
          </div>
        </article>

        <table class="table table-striped">
          <thead class="bg-danger text-white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Numero de control del estudiante</th>
              <th scope="col">Libro prestado</th>
              <th scope="col">Fecha del prestamo</th>
              <th scope="col">Fecha de entrega</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>19510790</td>
              <td>El principito</td>
              <td>09/09/2022</td>
              <td>12/09/2022</td>
              <td>
                <button class="btn btn-primary">Libro devuelto</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>19510790</td>
              <td>El principito</td>
              <td>09/09/2022</td>
              <td>12/09/2022</td>
              <td>
                <button class="btn btn-primary">Libro devuelto</button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>19510790</td>
              <td>El principito</td>
              <td>09/09/2022</td>
              <td>12/09/2022</td>
              <td>
                <button class="btn btn-primary">Libro devuelto</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </main>
</div>
