<div class="container w-50 mt-4">
  <form action="">
    <h1 class="mb-4">Signup</h1>
    <div class="mb-4">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" />
    </div>
    <div class="row mb-4">
      <div class="col-6">
        <div class="">
          <label for="apellidoPa" class="form-label">Apellido paterno</label>
          <input type="text" class="form-control" id="apellidoPa" />
        </div>
      </div>
      <div class="col-6">
        <div class="">
          <label for="apellidoMa" class="form-label">Apellido materno</label>
          <input type="text" class="form-control" id="apellidoMa" />
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="tel" class="form-control" id="telefono" />
    </div>
    <div class="mb-4">
      <label for="correo" class="form-label">Correo</label>
      <input type="email" class="form-control" id="correo" />
    </div>
    <div class="mb-4">
      <label for="password" class="form-label"> Password </label>
      <input type="password" class="form-control" id="password" />
    </div>
    <div class="mb-4">
      <label for="confirmarPassword" class="form-label"
        >Confirmar password</label
      >
      <input type="password" id="cofirmarPassword" class="form-control" />
    </div>

    <button class="btn btn-primary btn-block mb-4">Registrarse</button>
    <div>
      <a routerLink="/login">Ya tengo cuenta</a>
    </div>
  </form>
</div>
