<nav
  class="p-3 d-flex flex-column bg-dark text-white nav-width h-100 position-fixed"
>
  <h2 class="text-center">Tech friends 🚀</h2>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href=""
        class="nav-link text-white"
        routerLinkActive="active"
        routerLink="/home"
        >Home</a
      >
    </li>
    <hr />
    <li class="nav-item">
      <a
        href=""
        class="nav-link text-white"
        routerLink="/registrar-libro"
        routerLinkActive="active"
        >Registrar libro</a
      >
    </li>
    <li class="nav-item">
      <a
        href=""
        class="nav-link text-white"
        routerLink="/libros"
        routerLinkActive="active"
        >Listar libros</a
      >
    </li>
    <hr />
    <li class="nav-item">
      <a
        href=""
        class="nav-link text-white"
        routerLink="/prestamo"
        routerLinkActive="active"
        >Generar prestamo</a
      >
    </li>
    <li class="nav-item">
      <a
        href=""
        class="nav-link text-white"
        routerLink="/ver-prestamos"
        routerLinkActive="active"
        >Ver prestamos</a
      >
    </li>
  </ul>

  <hr />
  <div class="profile">
    <button class="btn btn-danger">Logout</button>
    <!-- <span class="d-flex align-items-center">
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Aldo</strong>
    </span> -->
  </div>
</nav>
