<div class="container w-50 mt-4">
  <form>
    <h1 class="mb-4">Login</h1>
    <!-- Email input -->
    <div class="mb-4">
      <label class="form-label" for="email">Correo electronico</label>
      <input type="email" id="email" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" class="form-control" />
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Entrar</button>

    <!-- Entrar button -->
    <div class="text-center">
      <p>¿No tienes cuenta? <a routerLink="/signup">Registrarme</a></p>
    </div>
  </form>
</div>
